<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
  
<tr>
  <tb>
  <form action="/cool_url" method="get">
    <input type="text" name="message">
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    <input type="submit" value="richie">
  </form>


  <form action="/cool_url" method="post">
    <input type="text" name="phrase">
    <input type="submit" value="DON'T TOUCH">
  </form>

  <form action="/cool_url" method="post"> 
    <textarea id="paragraph" rows="3" cols="40" name="phrase"></textarea>
  <input type="submit" value="BIG BOX">
  </form>

  <form action="/cool_url" method="post">
    <input type="radio" name="phrase" value="Blue">Blue<br>
    <input type="radio" name="phrase" value="Gold">Gold<br>
  <input type="checkbox" name="phrase" value="Yellow">Yellow<br>
    <input type="checkbox" name="phrase" value="Red">Red<br>
    <input type="submit" value="submit">
  </form>
  
  </tb>
  </tr>


  </table>
</div>


